.loginT__in {
    display: flex;
    align-items: center;
    padding: 0px 7px;
}

.loginT__in> .MuiSvgIcon-root {
    margin-right: 10px;
    color: #2874f0;
}

.signup {
    color: #2874f0;
}

.loginT__in {
    width: 210px;
}

h2 {
    font-size: 14px;
    margin-right: auto;
}

.loginT__in>img {
    margin-right: 10px;
}

.loginT>hr {
    margin-left: -10px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 108.5%;
    height: 0.5px;
    background-color: rgb(233, 233, 233);
    border: none;
}
.loginT__in:hover {
    background-color: rgb(245, 243, 243);
    cursor: pointer;
}